{% extends "base.html" %}

{% block title %}Админ-панель — Design.pro{% endblock %}

{% block content %}
    <h2>Администрирование заявок</h2>


    <h3>Заявки</h3>
    {% if requests %}
        <table>
            <thead>
                <tr>
                    <th>Пользователь</th>
                    <th>Название</th>
                    <th>Категория</th>
                    <th>Статус</th>
                    <th>Дизайн</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                {% for req in requests %}
                <tr>
                    <td>{{ req.user.username }}</td>
                    <td>{{ req.title }}</td>
                    <td>{{ req.category.name|default:"—" }}</td>
                    <td>{{ req.get_status_display }}</td>
                    <td>
                        {% if req.status == 'done' and req.design_image %}
                            <img src="{{ req.design_image.url }}" alt="Дизайн" style="max-width: 100px; height: auto;">
                        {% else %}
                            —
                        {% endif %}
                    </td>
                    <td>
                        {% if req.status == 'new' or req.status == 'in_progress' %}
                        <a href="{% url 'change_status' req.id %}">Сменить статус</a>
                        <p style="font-size: 13px; color: #555;">
                        <strong>Внимание:</strong> Для статуса "Выполнено" обязательно прикрепить изображение дизайна.</p>
                    {% else %}
                        —
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Заявок пока нет.</p>
    {% endif %}

    <h3>Управление категориями</h3>

    {% if categories %}
        <ul style="list-style: none;">
            {% for cat in categories %}
            <li>
                {{ cat.name }}
                <form method="post" action="{% url 'delete_category' cat.id %}" style="display:inline; padding: 0px;">
                    {% csrf_token %}
                    <button type="submit">Удалить</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Категории отсутствуют.</p>
    {% endif %}

    <form method="post" action="{% url 'add_category' %}">
        {% csrf_token %}
        <label for="id_name">Новая категория:</label>
        <input type="text" name="name" id="id_name" placeholder="Введите название категории" required maxlength="100">
        <button type="submit">Добавить категорию</button>
    </form>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}